body{
    background-image: url(Images/back.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 50px;
}

audio{
    position: fixed;
    bottom: 20px;
    left: 50px;
}

.github{
    font-size: 20px;
    position: relative;
    top: 20px;
    right: -700px;
    background-color: #00000000;
    color: rgba(255, 255, 255, 0.81);
    border: none;
    cursor: pointer;
}

.entry{
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.e1{
    height: 100px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(251, 214, 167);
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

#i1{
    height: 100px;
    width: 200px;
    border-radius: 20px;
    background-image: url("resized/Edward-Gay_The-River-Sound-Beach-Connecticut.jpg");
}