body{
    background-image: url(Images/back.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

audio{
    vertical-align: bottom;
}