body{
    background-image: url(Images/back.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 50px;
}

audio{
    position: fixed;
    bottom: 20px;
    left: 50px;
}

.github{
    font-size: 20px;
    position: relative;
    top: 20px;
    right: -700px;
    background-color: #00000000;
    color: rgba(255, 255, 255, 0.81);
    border: none;
    cursor: pointer;
}

.entry{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.e{
    height: 100px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(251, 214, 167);
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

#i1{
    background-image: url"");
}

#i2{
    background-image: url("resized/Edward-Gay_The-River-Sound-Beach-Connecticut.jpg");
}

#i3{
    background-image: url("resized/2662px-Caspar_David_Friedrich_-_Tageszeitenzyklus,_Der_Morgen_1821-22.jpg");
}